

.login_form #captcha{
    margin: 10px 0px;
  }
  
  /* .login_form #captcha .preview{
    color: #555;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px dashed #888;
    border-radius: 0.5em;
    margin-bottom: 1.6em;
  
  } */

  .login_form #captcha .preview{
    color: #141414;
    width: 45%;
    /* text-align: left; */
    text-align: center;
    height: 23px;
    line-height: 22px;
    letter-spacing: 5px;
    /* border: 1px dashed #050505; */
    border-radius: 0.5em;
    margin-bottom: -0.4em;
    position: relative;
    left: 185;
  
  }
  
  .form_input_captcha {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: 0.1em solid #0c0c0c;
    border-radius: 0.5em;
    outline: none;
    padding: 1em;
    z-index: 1;
    background: none;
    
  }   

     /*  captcha  lable position  */
  
  .form_label_captcha{
    /* position: absolute;
    left: 1em;
    top: 5.2em;
    padding: 0 .25em;
    background-color: #fff; */
    color: #080808;
    font-size: 1em;
    transition: .4s;
  }s

  /* for captcha box lable  */
  /* .form_input_captcha:focus + .form_label_captcha{
    top: 4.7em;
    left: .8em;
    color: rgb(28,164,248);
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
  } */
  
  .form_input_captcha:not(:placeholder-shown).form_input_captcha:not(:focus) + .form_label_captcha{
    top: 4.6em;;
    left: .8em;
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
  }
  
  /* .form_input_captcha:focus{
    border: .1em solid rgb(28,164,248);
  } */
  
  .login_form #captcha .preview span{
    display: inline-block;
    user-select: none;
  }
  .login_form #captcha span{
    display: inline-block;
    user-select: none;
  }
  
  .login_form #captcha .captcha_form{
    display: flex;
  }
  
  .login_form #captcha .captcha_form input{
    width: 180%;
    font-size: 0.5em;
    border-radius: 0.5em;
    outline: none; 
    color: #0a0a0a;
    padding: 1em;
    z-index: 1;
    position: relative;
    left: 186px;
  }

  /* Refresh Button effect */
  .captcha_refersh{
    /* width: 10px; */
    border: none;
    outline: none;
    background-color: transparent;
    backface-visibility: visible;
    /* background: #888; */
    color: #0a0a0a;
    width: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5em;
    margin-left: 190px;

 
  }

  .captcha_refersh:hover{
    transition: .4s;  
    transform: scale(0.90);
  }


  /* .login_form #captcha .captcha_form .captcha_refersh{
    width: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5em;
    margin-left: 150px;
} */
.captcha_refersh{
    transition: .4s;

}

/* .captcha_refersh:hover{
    transition: .4s;

    transform: scale(0.90);
} */